# Base de datos
DB_HOST=postgres
DB_PORT=5432
DB_USER=denunciasAt
DB_PASSWORD=denunciasAt2024
DB_NAME=denunciasAt

# Auth
JWT_SECRET=dev_secret_change_in_production
JWT_EXPIRES_IN=8h

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3000

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=denuncias

# Evolution API (WhatsApp)
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=change_in_production
