# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Variables de entorno (NUNCA commitear)
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Jest
coverage/

# NestJS
.nest/

# Claude Code
.claude/

# Documentos generados (volumen Docker en producción)
infrastructure/documentos/

# SOLO credenciales GCP
key.json
*credentials*.json

github-deploy-key
github-deploy-key.pub

clean-key
clean-key.pub